# Core functionality - changes here should be rare!
/src/app.py                   @JennProdigyGame
/src/backend/database.py      @JennProdigyGame
/src/backend/routers/auth.py  @JennProdigyGame

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JennProdigyGame
